
<% if current_user %>
	<div='registration_error_message'>
	<p>You can't create an account while you're logged in! Why not <%= link_to "create a story", new_story_path %> instead? </p>
	</div>

<% else %>

<h1>Sign Up</h1>

	<%= form_for @user do |f| %>

		<div class="field">
			<%= f.label :first_name %><br/>
			<%= f.text_field :first_name %>
		</div>

		<div class="field">
			<%= f.label :last_name %><br/>
			<%= f.text_field :last_name %>
		</div>

		<div class="field">
			<%= f.label :username %><br/>
			<%= f.text_field :username %>
		</div>

		<div class="field">
			<%= f.label :email %><br/>
			<%= f.text_field :email %>
		</div>

		<div class="field">
			<%= f.label :home_town %><br/>
			<%= f.text_field :home_town %>
		</div>

		<div class='field'>
			<%= f.label :home_country %><br/>
			<%= f.text_field :home_country %>
		</div>

		<div class="field">
			<%= f.label :password %><br/>
			<%= f.password_field :password %>
		</div>

		<div class="field">
			<%= f.label :password_confirmation %><br/>
			<%= f.password_field :password_confirmation %>
		</div>

		<div class="field">
			<%= f.submit "Submit"%>
		</div>

	<% end %>
<% end %>