<h1><%= @user.username %></h1>

<p><%= image_tag @user.photo_url(:thumb) %></p>
<p><%= link_to "Delete", @user, method: :delete, data: {confirm: "Are you sure you want to delete this user?"} %> | <%= link_to('Edit', edit_user_path) %></p>
<p><%= @user.first_name %> <%= @user.last_name %></p>
<p><%= @user.email %></p>
<p><%= @user.home_town %></p>
<p><%= @user.about_me %></p>

<h3>My Stories: </h3>

	<% @user.own_stories.each do |story| %>
		<p><%= story.title %></p>
		<% story.pages.each do |page| %>
		<div class="user_page">
			<%= link_to image_tag(page.page_photo_url(:medium)), page.page_photo_url(:medium), class: "fancybox", :rel => story.title, :title => page.caption %>
		</div>
		<div class="tags">
			<% story.tags.any? %>
			<% story.tags.each do |tag| %>
			  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
			<% end %>
		</div>
		<% end %>
		<div class="likes">
		  <p>Likes: <%= story.score %></p>
		  <p><%= link_to "upvote", like_story_path(story), method: :put %></p>
		</div>
	<% end %>


<section class="stats">
	<%= render 'shared/stats' %>
</section>