<%= form_tag stories_path, method: :get, authentication: false, id: 'search-form' do %>
	<%= fields_for :story do |f| %>
		<div id="search-title">
			<%= f.label :title, "Title:" %>
			<%= f.text_field :title %>
		</div>
		<div>
			<%= f.label :tag_list, "Tags:" %>
			<%= f.select :tag_list, options_from_collection_for_select(ActsAsTaggableOn::Tag.all, :id, :name) %>
		</div>
		<div class="field">
			<%= f.check_box :cached_votes_score %>
		</div>
	<% end %>
<%= submit_tag "Search" %>
<% end %>