<h2><%= @story.title %></h2>
<% @story.pages.each do |page| %>
	<div class="clickable_image">
		<%= link_to image_tag(page.page_photo_url(:medium)), page.page_photo_url(:large), class: "fancybox", :rel => @story.title, :title => page.caption %>
	</div>
<% end %>
<div class="author_name">
	<%= link_to @story.owner.username, user_path(@story.owner) %>
</div>
<div class="tags">
	Tags:
	<% @story.tags.any? %>
	<% @story.tags.each do |tag| %>
	  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
	<% end %>
</div>

<div class="story-<%=@story.id%>">
  <p><%= link_to "Like", like_story_path(@story), method: :put, remote: true %></p>
  <% if @story.score > 0 %>
  <button>Likes: <span class="score-<%=@story.id%>"><%= @story.score %></span></button>
</div>
<div id="likers" style="display: none">
	<h2><strong><u>Likers</u><strong></h2>
	<% @story.votes_for.voters.each do |voter| %>
		<p class="liker_names"> <%= link_to voter.username, user_path(voter) %> liked this!</p>
	<% end  %>
</div>

<% end %>

<script>
function initialize() {
  var mapOptions = {
    zoom: 14,
    center: new google.maps.LatLng(<%=@story.latitude %>, <%=@story.longitude %>)
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
	console.log("Runnning initialize", "mapOptions", mapOptions, "map", map)
  }


function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
      'callback=initialize';
  console.log("Loading remote script")
  document.body.appendChild(script);
}

window.onload = loadScript;
console.log("Running loadscript")

</script>




<div class="location-<%=@story.id%>">

	<% if @story.geocoded? %>


        <div id="map-canvas"></div>


	<% else %>
		<p>This user didn't attach a location to their story but <%= link_to "you can!", new_story_path %></p>
	<% end %>

</div>

