<%= form_for(@story, html: {multipart: true}) do |f| %>

	<div class ="field">
		<%= f.label :title %></br>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label :tags %>
		<%= f.text_field :tag_list %>
	</div>

	<p> Illustrate your story! </p>
	<div class="pages">
		<%= f.fields_for :pages do |p| %>
		<%= render 'page_fields', :f => p %>
	<% end %>

		<%= link_to_add_association "Add page!", f, :pages %>

	<div class="action">
		<%= f.submit %>
	</div>

<% end %>