<h2><%= @story.title %></h2>
<% @story.pages.each do |page| %>
	<div class="clickable_image">
		<%= link_to image_tag(page.page_photo_url(:medium)), page.page_photo_url(:large), class: "fancybox", :rel => @story.title, :title => page.caption %>
	</div>
<% end %>
<div class="author_name">
	<%= link_to @story.owner.username, user_path(@story.owner) %>
</div>
<div class="tags">
	Tags:
	<% @story.tags.any? %>
	<% @story.tags.each do |tag| %>
	  <%= link_to tag.name, tagged_url(:tag => tag.name) %>
	<% end %>
</div>

<div class="story-<%=@story.id%>">
  <p><%= link_to "Like", like_story_path(@story), method: :put, remote: true %></p>
  <% if @story.score > 0 %>
  <button>Likes: <span class="score-<%=@story.id%>"><%= @story.score %></span></button>
</div>
<div id="likers" style="display: none">
	<h2><strong><u>Likers</u><strong></h2>
	<% @story.votes_for.voters.each do |voter| %>
		<p class="liker_names"> <%= link_to voter.username, user_path(voter) %> liked this!</p>
	<% end  %>
</div>

<% end %>

<div class="location-<%=@story.id%>">

	<% if @story.city? %>
		<p>This story was created here:</p>

		<% if ( @story.longitude? && @story.latitude? ) %>
			<!-- google maps here w/ pin at location, centered at city, country -->
		<% else %>
			<!-- google maps here w/ pin at centre of city, country -->
		<% end %>
	<% elsif ( @story.longitude? && @story.latitude? ) %>
		<!-- google maps w/ pin and centered at lat & long -->
		<p>This story was created here:</p>
		<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=@story.longitude%>,<%=@story.latitude%>&zoom=13&size=300x300&sensor=false&key=AIzaSyDbOWBVLGMzFWPviNHYf4f9HC7RBkfry4o" />
	<% else %>
		<p>This user didn't attach a location to their story but <%= link_to "you can!", new_story_path %></p>
	<% end %>

</div>


