<%= form_for(@story, html: {multipart: true}) do |f| %>

	<div class ="field">
		<%= f.label :title, class: "littletitle" %><br/>
		<%= f.text_field :title, class: "inputfield" %>
	</div>

	<div id="myTags">
		<%= f.label :tags, "Tags (separated by commas):", class: "littletitle"  %><br />
		<%= f.text_field :tag_list, class: "inputfield"  %>
	</div>

	<p><button type='button' onclick="getLocation()">Add my location to this story!</button></p>

	<div id="demo"></div>


	<div class='field'>
		<%= f.hidden_field :latitude, :value => "" %>
		<%= f.hidden_field :longitude, :value => "" %>
	</div>

	<p> Alternatively, add a custom location to this story! </p>

	<div class="field">
		<%= f.label :city, class: "littletitle"  %><br/>
		<%= f.text_field :city, class: "inputfield"  %>
	</div>

	<div class="field">
		<%= f.label :state, class: "littletitle"  %><br />
		<%= f.text_field :state, class: "inputfield"  %>
	</div>

	<div class="field">
		<%= f.label :country, class: "littletitle"  %><br />
		<%= f.text_field :country, class: "inputfield"  %>
	</div>

	<p> Illustrate your story: </p>
	<div class="pages">
		<%= f.fields_for :pages do |p| %>
		<%= render 'page_fields', :f => p %>
	<% end %>
	<div>

	<div class="action">
		<%= link_to_add_association "Add Another Photo", f, :pages %> | <%= f.submit "Share Your Story" %>

	</div>

<% end %>

<script>
	$(document).on('ready page:load', function () {
	  $('#story_tag_list').select2({tags:<%= raw(ActsAsTaggableOn::Tag.all.map(&:name)) %>})
	});
</script>

