<%= form_for(@story, html: {multipart: true}) do |f| %>

	<div class ="field">
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</div>

	<div id="myTags">
		<%= f.label :tags, "Tags (separated by commas):" %><br />
		<%= f.text_field :tag_list %>
	</div>

	<p><button type='button' onclick="getLocation()">Add my location to this story!</button></p>

	<div id="demo"></div>


	<div class='field'>
		<%= f.hidden_field :latitude, :value => "" %>
		<%= f.hidden_field :longitude, :value => "" %>
	</div>


	<p> Illustrate your story: </p>
	<div class="pages">
		<%= f.fields_for :pages do |p| %>
		<%= render 'page_fields', :f => p %>
	<% end %>

	<%= link_to_add_association "Add page!", f, :pages %>

	<div class="action">
		<%= f.submit %>
	</div>

<% end %>

<script>
	$(document).on('ready page:load', function () {
	  $('#story_tag_list').select2({tags:<%= raw(ActsAsTaggableOn::Tag.all.map(&:name)) %>})
	});
</script>

