<div class="story_show_page">
	<%= render 'story_show' %>
</div>

<%= form_for(@story, html: {multipart: true}) do |f| %>

	<div class ="field">
		<%= f.label :title %></br>
		<%= f.text_field :title %>
	</div>

	<ul id="myTags">
		<div>
			<%= f.label :tags, "Tags (separated by commas):" %>
			<%= f.text_field :tag_list %>
		</div>
	</ul>

	<p> Illustrate your story: </p>
	<div class="pages">
		<%= f.fields_for :pages do |p| %>
		<%= render 'page_fields', :f => p %>
	<% end %>

		<%= link_to_add_association "Edit page!", f, :pages %>

	<div class="action">
		<%= f.submit %>
	</div>

<% end %>