<h1>Stories</h1>

<%= form_tag stories_path, method: :get, authentication: false, id: 'search-form' do %>
	<%= fields_for :story do |f| %>
		<div id="search-title">
			<%= f.label :title, "Title:" %>
			<%= f.text_field :title %>
		</div>

		<div>
			<% tag_options =
				[
					['',''],
					['food','food'],
					['money','money'],
					['shoes','shoes'],
					['hair','hair'],
					['travel','travel'],
					['desk','desk'],
					['hat','hat'],
					['goat','goat'],
					['chair','chair'],
					['cheese','cheese'],
					['bacon','bacon'],
					['linux','linux'],
					['mint','mint'],
					['bitmaker','bitmaker']
				] %>
			<%= f.label :tag_list, "Tags:" %>
			<%= f.select :tag_list, tag_options %>
		</div>
		<div>
			<% created_options = [['', ''], ['Newest', 'Newest'], ['Oldest', 'Oldest']] %>
			<%= f.label :created_at, "Created date:" %>
			<%= f.select :created_at, created_options %>
		</div>
	<% end %>
<%= submit_tag "Search" %>
<% end %>

<p id="stories-count"><%= page_entries_info @stories %></p>

<div id='stories'>
  <%= render @stories %>
</div>

<div id="stories-pagination"><%= paginate @stories %></div>