<h1>Stories</h1>

<% @stories.each do |story| %>
  <div class="story">
	  <%= story.title %>
	  <% story.pages.each do |page| %>
	  	<%= image_tag page.page_photo_url %>
	  	<%= page.caption %>
	  <% end %>
	  <%= story.score %>
	  <%= link_to "upvote", like_story_path(story), method: :put %>
  </div>
<% end %>
