<div class="story_show_page">

<meta property="og:title" content="<%= @story.title %>" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://see-saw.herokuapp.com/favicon.ico" />
<meta property="og:url" content="<% request.original_url %>" />
<meta property="og:description" content="Check out this shared story!" />

<div class="large-front-cover large-6 columns small-centered">
	<div class="story-content">
		<%= render 'story_show' %>
	</div>
</div>


		<h3>Comments:</h3>
		<% @story.comments.each do |comment| %>
			<p>
				<% if comment.user != nil %>

					<%=comment.user.username%>:
				<% end %>

				<%=comment.passage%> </p>
		<% end %>

	<% if current_user %>
		<%= form_for([@story, @comment]) do |f| %>
			<% if @comment.errors.any? %>
				<div id="error_explanation">
		    		<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
					<ul>
						<% @comment.errors.full_messages.each do |message| %>
						<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>

			<div class="field">
				<%= f.label :passage, "Add a comment:" %><br />
				<%= f.text_area :passage %>
		    </div>
			<div class="actions">
				<%= f.submit %>
			</div>
		<% end %>

	<% else %>
	  <p> <%= link_to "Log in", new_user_session_path %> to comment!</p>
	<% end %>


</div>