<section class="login">
	

	<div id="credentials">
		<%= render 'login_form' %>
	</div>

</section>

<section class="about-us">
	<div class="about-content">
		<div class="blurb">
			<%= image_tag("about.png") %>
			<h3>ABOUT US</h3>
			<p class="about-descrip ">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		</div>
		<div class="icons">
			<div class="about-icons">
				<%= image_tag("story.png") %>
				<p>create your own stories!</p>
			</div>
			<div class="about-icons">
				<%= image_tag("group.png") %>
				<p>Make stories with friends!</p>
			</div>
			<div class="about-icons">
				<%= image_tag("map.png") %>
				<p>Track where you've been!</p>
			</div>
		</div>
	</div>
</section>

<section class="our-team">
	<div class="team-content">
		<div class="blurb">
			<%= image_tag("team.png") %>
			<h3>THE TEAM</h3>
			<p class="about-descrip ">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
		</div>
		<div class="icons">
			<div class="team-icons">
				<%= image_tag("nathan.jpg") %>
				<p>Nathan 'NayNay' Ho</p>
			</div>
			<div class="team-icons">
				<%= image_tag("merrick.jpg") %>
				<p>Merrick 'The Eyepatch' Read</p>
			</div>
			<div class="team-icons">
				<%= image_tag("jimi.jpg") %>
				<p>Jimi 'I came for the food' Vyas</p>
			</div>
		</div>
	</div>
</section>

