<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	  <title>Biblio</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag "vendor/modernizr" %>
	  <%= csrf_meta_tags %>
</head>
<body>


  <nav>
	<% if current_user %> <!-- Do not need to define this with sorcery -->
	<div class="icon-bar five-up" role="navigation">
		<%= link_to root_url, class: "item", role: "button", tabindex: "0" do %>
			<i class="fi-home"></i>
			<label>Home</label>
		<% end %>
		<%= link_to new_story_path, class: "item", role: "button", tabindex: "0" do %>
			<i class="fi-book"></i>
			<label>New Story</label>
		<% end %>
		<%= link_to user_path(current_user), class: "item", role: "button", tabindex: "0" do %>
			<i class="fi-torso"></i>
			<label><%= current_user.username %></label>
		<% end %>
		<%= link_to logout_path, class: "item", role: "button", tabindex: "0" do %>
			<i class="fi-power"></i>
			<label>Logout</label>
		<% end %>
		<%= link_to stories_url, class: "item", role: "button", tabindex: "0" do %>
			<i class="fi-magnifying-glass"></i>
			<label>Browse</label>
		<% end %>

	<% else %>

		<div class="icon-bar one-up" role="navigation">
    	<%= link_to stories_url, class: "item", role: "button", tabindex: "0" do %>
			<i class="fi-magnifying-glass"></i>
			<label>Browse</label>
		<% end %>

	<% end %>
  </nav>

  <%= yield %>

</body>
</html>
