<!DOCTYPE html>
<html>
<head>
  <title>Biblio</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
	<p><%= link_to "Home", stories_url %> |
	<% if current_user %> <!-- Do not need to define this with sorcery -->
	Signed in as <%= link_to current_user.first_name, current_user %> |
		<%= link_to "Logout", :logout, method: :get %> |
		<%= link_to "New story", new_story_path %>
	<% else %>
		<%= link_to "Register", new_user_path %> |
		<%= link_to "Login", :login %>
	<% end %></p>
  </nav>

  <%= yield %>

</body>
</html>
